/* Estilos para el encabezado */
h1 {
    color: #025157;
    text-align: center;
    font-family: 'Kenia', sans-serif;
}

/* Estilos para el párrafo */
p {
    font-family: verdana;
    font-size: 20px;
    font-family: 'Kenia', sans-serif;
}

/* Estilos para el botón */
button {
    color: #fff;
    background-color: #025157;
}

/* Estilos para el cuerpo (fondo) */
body {
    background-color: #fffbf7;
}

/* Estilos para la sección "Logros" */
.logros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logros ul {
    list-style: none;
    text-align: left;
}

.logros li {
    margin-bottom: 10px;
}

/* Estilos para la sección "How does Matcha work?" */
.how-it-works {
    text-align: center;
    margin: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.feature {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Estilos adicionales según tus necesidades */
